<div fxLayout="row wrap" style="margin-left: 500px">
  <div fxFlex="50">
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>1000 Galvin Rd S</p>
      <p>Omaha, Nebraska</p>
    </mat-card-content>
  </div>

  <div fxFlex="50">
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct: 555-555-5555</p>
      <p>Toll-free: 1-888-555-5555</p>
      <p>Fax: 555-555-5555</p>
    </mat-card-content>
  </div>
</div>
<div>
  <hr />
  <div class="maps-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.2456685850207!2d-95.9197632898865!3d41.15099041050797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8793886b1d7a1565%3A0x79b8af7b5882cbac!2s1000%20Galvin%20Rd%20S%2C%20Bellevue%2C%20NE%2068005!5e0!3m2!1sen!2sus!4v1719138112593!5m2!1sen!2sus"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
