<div
  fxLayout="row wrap"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  style="margin-left: 200px"
>
  <div fxFlex="30">
    <mat-card-content>
      <img
        src="/assets/vecteezy_3d-character-illustration-of-front-end-developer_12658272.png"
        alt="vecteezy"
        width="500px"
        height="500px"
      />
    </mat-card-content>
  </div>

  <div fxFlex="70">
    <mat-card-content style="width: 700px">
      <p style="font-size: 20px">
        Nodebucket application was created by Lates Consulting. It is a small
        business with approximately 50 employees. We are based in Bellevue
        Nebraska, which is only 7 miles from Omaha. Although we are based in
        Bellevue Nebraska, we have an outstanding online presence. We use the
        latest technology to communicate virtually throughout the life cycle of
        the project. We will meet in person at critical times during the
        development and will meet virtually the other times.
      </p>

      <p style="font-size: 20px">
        We operate within an Agile framework. We use scrum, which has iterations
        of development and incremental releases to production. What this means
        is you will see and use portions of the application early in the
        development process. This way, you can see and use the product as well
        as give us feedback on the product throughout the project lifecycle. In
        the Nodebucket application we used 3 sprints to complete the work. We
        first delivered the sign in and entitlements portion of the application.
        Then, in sprint 2, we delivered the initial functionality of the task
        management page where you can add tasks to your task list. Last, in
        sprint 3, we finalized the application with the ability to move your
        tasks from ‘to do’ to ‘done’ columns. You can also delete tasks. You can
        also prioritize the tasks in the ‘to do’ column.
      </p>

      <p style="font-size: 20px">
        We are a JavaScript shop. We build our applications using JavaScript
        libraries and frameworks. Our technology stack is Angular for the front
        end, NodeJs for the middle tier, and MongoDB to store the data. This
        allows us to only zero in on one skill set, JavaScript, to build our
        cutting edge applications.
      </p>
    </mat-card-content>
  </div>
</div>
